//
// Personal: Radio
// --------------------------------------------------


//
// Generic Classes
// --------------------------------------------------
.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

//
// Specific Classes
// --------------------------------------------------

// Player Info
.player-wrapper{
  border: 1px solid darkred;
  height: 60px
}

.player-name-wrapper {
  margin-left: -30px;
}

.player-name{
  margin-top: 16px;
  border: 1px solid darkred
}

.player-btn-wrapper{
  margin-top: 8px;
}

.player-btn {
  background-color: darkred;
  color: white;
}

// Nav Bar
.nar-bar-divider {
  height: 2px;
  background-color: black;
  margin-top: 15px;
}
.centered-pills {
  text-align:center;
}
.centered-pills ul.nav-pills {
  display:inline-block;
}
.centered-pills li {
  display:inline;
}
.centered-pills a {
  float:left;
  color: black;
}
.nar-bar-divider-end {
  background-color: black;
  margin-top: -5px;
}
.nar-bar-divider-end p {
  margin: 0;
  color: white;
  letter-spacing: 2px;
}


// Images
.logo-university {
  height: 35px;
  width: 30px;
}

.logo-radio {
  margin-top: 10px;
}
