//
// Personal: Radio
// --------------------------------------------------


//
// Generic Classes
// --------------------------------------------------
.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}
.no-padding{
  padding: 0;
}
.seneca-project{
  font-family: @font-family-radio;
}

button:focus {outline:0;}

//
// Specific Classes
// --------------------------------------------------

// Player Info
.player-wrapper{
  border: 1px solid @audio-color;
  height: 60px
}

.player-name-wrapper {
  margin-left: -30px;
}

.player-name{
  margin-top: 16px;
  border: 1px solid @audio-color
}

.player-btn-wrapper{
  margin-top: 8px;
  padding-left: 20px;
  padding-right: 30px;
}

.player-btn {
  margin-top: 5px;
  width: 100%;
  border: 0;
  background-color: @audio-color;
  color: white;
  padding-top: 3px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
}
.player-btn img{
  .hidden-md;
  .hidden-sm;
  .hidden-xs;
  margin-left: 3px;
  margin-top: -2px;
}

// Nav Bar
.nar-bar-divider {
  height: 2px;
  background-color: black;
  margin-top: 15px;
}
.centered-pills {
  text-align:center;
}
.centered-pills ul.nav-pills {
  display:inline-block;
}
.centered-pills li {
  display:inline;
}
.centered-pills a {
  float:left;
  color: black;
  text-transform: uppercase;
  font-size: 13pt;
}
.nar-bar-divider-end {
  background-color: black;
  margin-top: -5px;
}
.nar-bar-divider-end p {
  margin: 0;
  color: white;
  letter-spacing: 10px;
  font-size: 11pt;
}

// Footer
.footer-menu{
  letter-spacing: 5px;
}
.centered-pills.footer-menu a {
  color: grey;
}
.footer-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:10px;
}

// Images
.logo-university {
  height: 35px;
  width: 30px;
}
.logo-radio {
  margin-top: 10px;
}

// Home
.home-top-margin{
  margin-top: 20px;
}
.home-content-wrap{
  .no-padding;
  margin-top: -11px;
}
.home-top-program{
  display:inline-block;
}
.home-top-program img{
  margin: 0;
  float: left;
  padding-top: 15px;
  padding-right: 10px;
}
.home-top-program h2{
  float: right;
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
  font-size: 24pt;
  letter-spacing: 5px;
}
.home-top-program h6 {
  margin: 0;
  float: right;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 4px;
}
.program-wrap{
  padding: 0;
}
.program-wrap :hover {
  background-color: black;
  color: white;
  transition: background-color 1.5s, color 1.5s;
}
.parallelogram {
  width: 100%;
  margin: 0 0 0 20px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  border: 1px solid black;
  background-color: transparent;
}
.parallelogram :hover
{
  background-color: transparent;
}
.program-wrap-content{
  display:inline-block;
  padding-left: 15px;
  padding-bottom: 5px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background-color: transparent;
}
.program-wrap-content h3 {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 0;
  font-weight: bold;
  letter-spacing: 3px;
}
.program-wrap-content h6 {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 9pt;
}
.top-program {
  padding-right: 20px;
}
.top-program-title{
  margin-right: 20px;
}
.top-program-title h3{
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 21pt;
}
.top-program-title h6{
  margin-top: 0;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 8pt;
}
.top-program-content p {
  font-size: 20pt;
  font-weight: lighter;
  text-align: justify;
  color: white;
}
.top-program-content span {
  display: inline;
  background: black;
  box-shadow: 5px 0 0 black, -5px 0 0 black;
}

// Program
.program-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 26pt;
  margin-bottom: 0;
  font-weight: bold;
}

.program-subtitle {
  margin-top: 0;
  font-weight: normal;
  font-size: 10pt;
  letter-spacing: 4px;
}

.program-basic-info-wrap {
  display: -webkit-flex;
  display: flex;
}

.program-img {
  padding-left: 0;
  padding-right: 15px;
  padding-bottom: 0;
}

.program-description {
  padding-right: 0;
  padding-left: 0;
  border: 1px solid lightgray;
  position: relative;
  text-align: justify;
}

.program-description-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program-description-content>h4 {
  display: inline;
  background: black;
  box-shadow: 5px 0 0 black, -5px 0 0 black;
  color: white;
  font-size: 11pt;
  font-weight: normal;
}

.program-episode-wrap {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 10px;
}

.program-episode-left-wrap{
  text-align: right;
  padding-left: 0;
}

.program-episode-right-wrap{
  padding: 0;
}

.program-episode-wrap h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
}

.program-episode-wrap h6{
  margin-top: 0;
  letter-spacing: 4px;
}

.program-play-btn {
  background: none;
  border: none;
}

.program-super-waveform-wrap {
  padding: 0;
}

.program-waveform-wrap {
  position: relative;
  height:50px;
  background-color: lightgrey;
}

.program-waveform-progress {
  background-color: @audio-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.program-waveform-img {
  width:100%;
  height:100%;
  -webkit-filter:contrast(200%);
  filter:contrast(200%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.program-waveform-seek {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.program-tag-count-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.program-count {
  background-color: @counter-bg;
  color: white;
  display: inline-block;
}

.program-count p {
  margin-bottom: 2px;
  margin-right: 10px;
}

.program-count img {
  margin-left: 10px;
}

.program-tags {
  display: inline-block;
  margin-right: 20px;
}

.program-tags p {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
  background: black;
  box-shadow: 5px 0 0 black, -5px 0 0 black;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  letter-spacing: 2px;
}

.program-episode-description p {
  font-size: 9pt;
  font-weight: 300;
  letter-spacing: 1px;
}

.program-share-wrap {
  padding: 0;
}

.program-share-wrap div {
  padding: 0;
}

.program-producers-wrap {
  height: 300px;
}

.program-producers-content-wrap {
  .program-description-content;
}

.program-producers-content-wrap h3 {
  font-weight: bold;
  font-size: 19pt;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.program-producers-content-wrap h4 {
  margin-top: 5px;
  font-weight: normal;
  font-size: 14pt;
  letter-spacing: 2px;
}

.program-producers-content-wrap h5 {
  margin-top: 5px;
  font-weight: normal;
  font-size: 8pt;
  letter-spacing: 2px;
}

